absl-py==2.4.0
attrs==26.1.0
cloudpickle==3.1.2
decorator==5.2.1
loguru==0.7.3
matplotlib==3.10.9
mindspore==2.9.0
mlflow==3.13.0
ml-dtypes==0.5.4
msguard==0.0.8
openpyxl==3.1.5
opentelemetry-exporter-otlp-proto-grpc==1.33.1
opentelemetry-exporter-otlp-proto-http==1.33.1
pandas~=2.2
plotly>=5.11.0
pydantic==2.13.4
sympy==1.14.0
tornado==6.5.5
